// ========================================
//
// @file _settings.scss
//
// File containing fonts, colors, breakpoints, and other variables.
//
// ========================================

//-------------------------------
// Fonts
//-------------------------------

@mixin font($font-family, $font-file) {
    @font-face {
      font-family: $font-family;
      src: url($font-file+'.eot');
      src: url($font-file+'.eot?#iefix') format('embedded-opentype'),
           url($font-file+'.woff') format('woff'),
           url($font-file+'.ttf') format('truetype'),
           url($font-file+'.svg#aller') format('svg');
      font-weight: normal;
      font-style: normal;
    }
}

@include font('Lora', '/themes/barebones/assets/fonts/Lora-Regular.ttf');
@include font('Avenir', '/themes/barebones/assets/fonts/AvenirNext-Regular.ttf');

@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

$defaultFontFamily: 'Lora';
$secondaryFontFamily: 'Avenir';
$defaultFontSize: 1.8em;

// Base sizes
$base-font-size: 100 !default; // In %. Also used for mobile. Number only, no units.
$line-height: 1 !default;

// Calculations
$base: 16 * ($base-font-size / 100);
$leading: round($base * $line-height);
$leading-rem: $leading / $base;


//-------------------------------
// Colors
//-------------------------------
$colorWhite: #ffffff;
$colorBlack: #000000;
$themeBrown: #c69d51;


//-------------------------------
// Other variables
//-------------------------------
$max-width: 1200px;
// Gutter width
$gutter: 2.5%;
$mobile-gutter: 3.175%;

// Global padding for mobile
$mobile-global-pad: 30px;

// Number of columns
$number-of-cols: 12 !default;

// Desktop columns
$desktop-cols: $number-of-cols;

// Mobile cols
$mobile-cols: 6 !default;

//
// Breakpoints settings
//

// Mobile portrait max
$phone-portrait-only: max-width 414px;
// Phone portrait upper
$phone-portrait-upper: 415px;
// For mobile phones
$phone-only: max-width 767px;
// For portrait tablets
$phone-upper-boundary: 768px;
// For tablets landscape and small desktops
$tablet-upper-boundary: 1024px;
// For small desktops and big tablets in landscape mode
$tablet-upper-boundary-l: (min-width 1024px) (orientation landscape);
// For desktop screens
$desktop-upper-boundary: 1200px;
// Ultra wide desktop
$wide-desktop-upper-boundary: 1360px;
// iPad Pro 10.5" portrait
$ipad-pro-small-portrait: (min-device-width 834px) (max-device-width 834px) (orientation portrait) (-webkit-min-device-pixel-ratio 2);
// iPad Pro 12.9"
$ipad-pro-big-portrait: (min-device-width 1024px) (max-device-width 1024px) (orientation portrait) (-webkit-min-device-pixel-ratio 2);