{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}
{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
    'status-bar',
  ]
%}

{{ attach_library('barebones/fontawesome') }}

<div{{ attributes.addClass(classes) }}>
    <div class='l-container'>
      <div class='l-row'>
        <div class='l-col l-col--span-3-of-12'>

          <div class='status-bar__currency'>
              <div class='currency__currency-item'>
                <i class="fas fa-dollar-sign"></i>
                27,00
              </div>
              <div class='currency__currency-item'>
                <i class="fas fa-euro-sign"></i>
                29,45
              </div>
              <div class='currency__currency-item'>
                <i class="fas fa-ruble-sign"></i>
                0,376
              </div>
          </div>
        </div>
        <div class='l-col l-col--span-9-of-12'>
          <div class='status-bar__content'>
            {% block content %}
              {{ content }}
            {% endblock %}
          </div>
        </div>
      </div>
    </div>
</div>
