.btn {
    border: 2px solid white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-family: 'Avenir', sans-serif;
    transition: background 0.2s ease-in-out;

    &--outlined {
        background: none;
        color: white;
        padding: 17px 90px;

        &:visited {
            color: white;
        }

        &:hover,
        &:active {
            background: black;
        }
    }

    &--solid {
        background: white;
        color: black;
        padding: 17px 60px;

        &:visited {
            color: black;
        }

        &:hover,
        &:active {
            background: black;
            color: white;
        }
    }

    &--curved {
        border-radius: 50px;
    }
}