.footer-container {
    height: 356px;
    background: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__social-links {
        margin-top: 45px;
        color: white;
        display: flex;
        justify-content: space-between;
        width: 200px;

        a {
            color: white;
            
            &:visited {
                color: white;
            }
        }
    }

    &__copyright {
        margin-top: 45px;
        color: white;
    }
}