//
// 12 column responsive grid system
//


// Rows

.l-row {
    clear: both;
    padding: 0;
    margin: 0 ($gutter/-2);
  
    &::before,
    &::after {
      content: "";
      display: table;
    }
  
    &::after {
      clear: both;
    }
  }
  
  
  /*  COLUMN SETUP  */
  
  .l-col {
    display: block;
    float: left;
    margin: 0 $gutter/2;
  
    &--align-center {
      float: none;
  
      @media (min-width: $tablet-upper-boundary) {
        margin: 0 auto;
      }
    }
  
    &--push-right {
      float: right;
    }
  }
  
  // Mobile first
  
  @each $number-of-columns in $mobile-cols {
  
    @for $i from 1 through $number-of-columns {
      .l-col--sm-span-#{$i}-of-#{$number-of-columns} {
        width: percentage($i/$number-of-columns) - $gutter;
      }
    } // end @for
  } // end @ each
  
  // Large screens
  
  @media (min-width: $phone-upper-boundary) {
  
    @each $number-of-columns in $desktop-cols {
  
      @for $i from 1 through $number-of-columns {
        .l-col--span-#{$i}-of-#{$number-of-columns} {
          width: percentage($i/$number-of-columns) - $gutter;
        }
      } // end @for
    } // end @ each
  }
  
  // Offsets
  
  @media (min-width: $phone-upper-boundary) {
  
    @each $number-of-columns in $desktop-cols {
  
      @for $i from 1 through $number-of-columns {
        .l-offset--#{$i} {
          margin-left: percentage($i/$number-of-columns) + ($gutter/2);
        }
      } // end @for
    } // end @ each
  }
  
  // Only for portrait tablets
  // We are using the same 12 columns greed,
  // but need to redefine some columns sets in some cases.
  // We've added this overrides latter to the project,
  // that's because the should go below the Large screen
  // and in strict breakpoints range.
  // Designers, ¯\_(ツ)_/¯
  
  @media (min-width: $phone-upper-boundary) and (max-width: $tablet-upper-boundary - 1) {
  
    @each $number-of-columns in $desktop-cols {
  
      @for $i from 1 through $number-of-columns {
        .l-col--md-span-#{$i}-of-#{$number-of-columns} {
          width: percentage($i/$number-of-columns) - $gutter;
        }
      } // end @for
    } // end @ each
  }

