.region-header {
    position: relative;
}

#block-barebones-main-menu {
    background: black;
}

#block-barebones-branding {
    position: relative;
    top: -100px;
    left: calc((100% - 1260px) / 2);
    height: 0;
    width: 150px;
}