article.hero-banner, div.hero-banner {
    text-align: center;
    font-size: 36px;
    background: url('/themes/barebones/assets/images/hero-banner.png') no-repeat;
    min-height: 700px;
    display: flex;
    flex-direction: column;
    color: white;

    .hero-banner__title {
        margin-top: 144px;
        font-size: 18px;
        text-transform: uppercase;
        font-family: $secondaryFontFamily, sans-serif;
    }

    hr {
        border: none;
        border-top: 1px solid white;
        width: 80px;
        margin-top: 46px;
        margin-bottom: 35px;
    }

    .hero-banner__content {
        a {
            margin-top: 46px;
            border: 2px solid white;
            text-decoration: none;
            text-transform: uppercase;
            font-size: 14px;
            font-family: 'Avenir', sans-serif;
            transition: background 0.2s ease-in-out;
            background: none;
            color: white;
            padding: 20px 90px;
    
            &:visited {
                color: white;
            }
    
            &:hover,
            &:active {
                background: black;
            }
    
        }
    }
}