// ========================================
//
// @file _html.scss
//
// Base level styles.
//
// ========================================
* { 
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  color: $colorBlack;
  font-family: $defaultFontFamily;
  font-size: $defaultFontSize;
  line-height: 1.6;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
}

img {
  display: block;
  max-width: 100%;
}

.l-container {
  width: 100%;
  max-width: $max-width;
  padding: 0 $mobile-global-pad;
  margin: 0 auto;

  @media (min-width: $tablet-upper-boundary) {
    padding: 0 $gutter;
  }

  @media (min-width: $desktop-upper-boundary) {
    padding: 0 $mobile-global-pad;
    max-width: $max-width + ($mobile-global-pad*2);
  }
}