ul.menu {
    margin: 0;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background: black;

    .menu-item {
        margin-right: 32px;

        &:last-child {
            margin-right: 0;
        }

        a {
            color: white;
            text-decoration: none;
            font-family: $secondaryFontFamily, sans-serif;
            font-size: 14px;
            text-transform: uppercase;
            transition: color 0.2s ease-in;

            &:visited {
                color: white;
            }
    
            &.is-active,
            &:hover,
            &:active {
                color: $themeBrown;
            }
        }
    }
}