.news-gallery {
    padding: 40px 0;

    .views-row {
        margin-top: 40px;

        &:first-child {
            margin-top: 0;
        }
    }

    .views-col {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;

        .views-field {
            max-width: 370px;
        }

        .views-field-field-image {
            a {
                display: flex;
                justify-content: center;
                align-items: center;

                filter: grayscale(60%);
                transition: filter 0.2s ease-in-out;

                &:hover {
                    filter: none;
                }
            }
        }

        .views-field-body {
            max-width: 350px;
            height: 100px;
            overflow: hidden;
            text-overflow: ellipsis;
            padding: 10px;
            position: absolute;
            z-index: 10;
            bottom: 0;
            background: rgba($color: #000000, $alpha: 0.5);
            color: white;
        }
    }
}