.status-bar {
    height: 160px;
    display: flex;
    align-items: center;
    background-color: black;
    color: white;
    font-family: 'Avenir', sans-serif;

    &__currency {
        display: flex;
        line-height: 60px;
        
        .currency__currency-item {
            margin-left: 10px;
            font-size: 13px;
            display: flex;
            align-items: center;

            &:first-child {
                margin-left: 0;
            }

            svg {
                height: 16px;
                width:16px;
                margin-right: 2px;
            }
        }
    }

    &__content {
        flex: 1;
        float: right;

        .field__item {
            width: 100%;
            display: flex;
            align-items: center;
            text-align: right;

            .btn {
                margin-left: 14px;
            }
        }
    }
}