{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region <div>.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}
{%
  set classes = [
    'region',
    'region-' ~ region|clean_class,
    'footer-container',
  ]
%}
{% if content %}
  <div{{ attributes.addClass(classes) }}>
    {{ content }}
    <div class='footer-container__social-links'>
        <a href='#'><i class="fab fa-facebook-f"></i></a>
        <a href='#'><i class="fab fa-twitter"></i></a>
        <a href='#'><i class="fab fa-telegram-plane"></i></a>
        <a href='#'><i class="fab fa-youtube"></i></a>
    </div>
    <p class='footer-container__copyright'>© 2020 Vatman A.</p>
  </div>
{% endif %}
